<div class="mx-auto" style="width: 40%">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Register</h1>
            <br>
            <div *ngIf="showError" class="alert alert-danger" role="alert">
                <span [innerHTML]="errorMessage"></span>
            </div>
            <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
                <div class="mb-3 row">
                    <div class="col">
                        <input
                            type="text"
                            id="firstName"
                            formControlName="firstName"
                            class="form-control"
                            placeholder="First name"
                            aria-label="First name"
                        />
                    </div>
                    <div class="col">
                        <input
                            type="text"
                            id="lastName"
                            formControlName="lastName"
                            class="form-control"
                            placeholder="Last name"
                            aria-label="Last name"
                        />
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        <input
                            type="email"
                            id="email"
                            formControlName="email"
                            class="form-control"
                            placeholder="Email"
                            aria-label="Email"
                        />
                    </div>
                    <div
                        class="invalid-feedback d-block"
                        *ngIf="checkField('email') && fieldHasError('email', 'email')"
                    >
                        Please provide a valid email
                    </div>
                    <div
                        class="invalid-feedback d-block"
                        *ngIf="checkField('email') && fieldHasError('email', 'required')"
                    >
                        Email is required
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        <input
                            type="password"
                            id="password"
                            formControlName="password"
                            class="form-control"
                            placeholder="Password"
                            aria-label="Password"
                        />
                        <div
                            class="invalid-feedback d-block"
                            *ngIf="checkField('password') && fieldHasError('password', 'required')"
                        >
                            Password is required
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        <input
                            type="password"
                            id="confirmPassword"
                            formControlName="confirmPassword"
                            class="form-control"
                            placeholder="Confirm Password"
                            aria-label="Confirm Password"
                        />
                        <div
                            class="invalid-feedback d-block"
                            *ngIf="checkField('confirmPassword') && fieldHasError('confirmPassword', 'required')"
                        >
                            Confirmation is required
                        </div>
                        <div
                            class="invalid-feedback d-block"
                            *ngIf="fieldHasError('confirmPassword', 'mustMatch')"
                        >
                            Passwords must match
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-1">          
                        <button type="submit" class="btn btn-dark" [disabled]="!registerForm.valid">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>